.App{
    max-width: 1100px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    font-weight: 500;
}

/* --------------------------------------------------- */
/* Header Starts */
.header-container{
    position: sticky;
    top:0;
    z-index: 20;
    background-color: white;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    width: 175px;
}
.btn-text{
    font-size: 18px;
    margin: 0px 4px;
}
.header-cart-btn{
    border:1px solid black;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
}
.header-cart-btn:hover{
    background-color:black;
    color: white;
}

.notify{
  width: 20px ;
  height: 20px;
  background-color:#FF3366;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
}
.cart-icon{
    position: relative;
}
.notify-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF3366;
    position: absolute;
    top: -5px;
    right: 5px;
}
/* Cart Starts */
    .cart{
        max-width: 375px;
        width: 100%;
        height: 400px;
        background: #FF3366;
        position: absolute;
        right: 20px;
        top: 65px;
        z-index:10;
        border-radius: 5px;
    }
    .cart-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: white;
    }
    .close-btn{
        font-size: 25px;
        padding: 0;
        color: white;
        border: none;
        outline: none;
        background:none;
    }
    .cart-body{
        height: 90%;
        padding: 10px;
        overflow-y:auto;
        scrollbar-width: none;
    }
    .cart-item{
        height: 60px;
        background-color: white;
        padding: 0px 10px;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .cart-img{
        width: 60px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
/* Cart Ends */

/* Header Ends */

/* --------------------------------------------------- */

/* Carousal Starts */
.carousal-slide{
    position: relative;
}
.carousal-img{
    width:100%;
    opacity: 0.9;  
}
.opacity{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.caption{
    z-index:5;
}
/* Carousal Ends */

/* --------------------------------------------------- */

/* Options starts */

.options-container{
    width: 100%;
    min-height: 30px;
}
.options-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.options{
   min-width: 200px;
    display: flex;
    align-items: center;
    padding: 5px 0px;
    margin:0px 5px ;
}
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
   margin: 0px 5px;
}
.options-text{
    font-size: 22px;
}
.active{
    color: #FF3366;
    border-bottom: 2px solid #FF3366;
}
/* Options Ends */

/* --------------------------------------------------- */

/* Slider starts */

.slide-container{
    margin-top: 10px;
    padding: 10px;
}
.slide-wrapper{
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
      overflow-x: auto;
      scrollbar-width: none;
}
::-webkit-scrollbar{
    display: none;
}
.slide-item{
    min-width: 150px;
    height: 150px;
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius:5px;
    margin-right: 15px;
    box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
    -moz-box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
}
.slide-img{
    width: 100%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.slide-text{
    font-size: 18px;
    margin: 2px;
}
/* Slider Ends */

/* --------------------------------------------------- */

/* Filter Starts */

.filter-container{
    padding: 0px 10px;
}
.filter-wrapper{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.filter{
    min-width: 80px;
    /* border:1px solid #A8A196; */
    border:1px solid #526D82;

    color:#526D82;
    padding: 3px 0px;
    border-radius: 5px;
    margin-right:15px;
    text-align: center;
}
.active-filter{
    background-color: #526D82;
    color: white;
}

/* Filter Ends */

/* --------------------------------------------------- */

/* Product Starts */

.product-container{
    margin-top: 10px;
    padding: 10px;
}
.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.product{
    max-width: 23%;
    width: 100%;
    height: 215px;
    padding: 10px;
    margin:5px 1%;
    border-radius: 5px;
    box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
    -webkit-box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
    -moz-box-shadow: -1px 2px 6px 0px rgba(105,103,103,0.75);
}
.product-img{
    width:100%;
    height: 140px;
    background-color: white;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.product-text{
    font-size: 18px;
}
.price-wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.cart-btn{
    display: flex;
    align-items: center;
    background-color: #FF3366;
    border: none;
    outline: none;
    padding: 3px 10px;
    color: white;
    border-radius: 3px;
}


/* Product Ends */

/* --------------------------------------------------- */

/* Media Query */

@media (width <= 767px){

    /* Header Start*/
    .logo{
        width: 150px;
    }
  .cart{
    width: 95%;
    right: 10px;
    margin: auto;
  }
    /* Header Ends */

    /* Carousal Starts */
.carousal-text{
    font-size: 15px;
}
    /* Carousal Ends */
    
    /* Options Tab */
.options-wrapper{
    justify-content: space-evenly;
    padding: 0;
}
.options{
    min-width: 10px;
    margin: 0;
}
  .img-box{
    width: 35px;
    height: 35px;
    margin: 0px 1px;
  }
  .options-text{
    font-size: 18px;
  }
  /* Options Tab */
  
  /* Slider starts */
  .slide-item{
    min-width: 110px;
    height: 110px;
  }
  .slide-img{
    height: 80%;
  }
  .slide-text{
    font-size: 13px;
  }
  /* Slider ends */

 /* Product Starts */
 .product-wrapper{
    padding: 0;
 }
  .product{
    max-width: 46%;
    width: 100%;
    height: 175px;
    margin: 5px 2%;
  }
  .product-img{
    width:100%;
    height:100px;
    margin-bottom: 2px;
  }
  .product-text{
    font-size: 15px;
  }
  .cart-btn{
    font-size: 12px;
    padding: 3px 8px;
  }
 /* Product Ends */
}

@media(768px<= width <991px){
  .product{
    max-width: 30%;
    width: 100%;
    margin:10px 1.5%;
  }
}